<%- include('../admin_layouts/header.ejs') %>

    <div class="container-scroller">

        <%-include('navbar.ejs')%>

            <div class="container-fluid page-body-wrapper">

                <%-include('sidebar.ejs')%>

                    <div class="main-panel">
                        <div class="content-wrapper">

                            <div class="col-lg-12 grid-margin stretch-card ">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="d-flex justify-content-between ">
                                                <h4 class="text-start ">ORDERS</h4>
                                             
                                            <a href="#"><button type="button" class="btn btn-danger btn-fw p-2 ">Return
                                                    requests</button></a>

                                        </div>
                                        <br>
                                        <hr>
                                        <table class="table table-striped mt-5  ">
                                            <thead class="text-center bg-secondary ">
                                                <tr>
                                                    <th class="font-weight-bold">No. </th>
                                                    <th class="font-weight-bold"> Order Id</th>
                                                    <th class="font-weight-bold"> Name</th>
                                                    <th class="font-weight-bold"> Email<br></th>
                                                    <th class="font-weight-bold"> Total</th>
                                                    <th class="font-weight-bold">Payment status</th>
                                                    <th class="font-weight-bold"> Date </th>
                                                    <th class="font-weight-bold"> </th>
                                                </tr>
                                            </thead>

                                            <% if (orders.length> 0) { %>
                                                <% orders.forEach((order,index)=> { %>

                                                    <tbody class="text-center ">
                                                        <tr class="<%=(index+1) %2==0? 'bg-light' :'' %> ">
                                                            <td>
                                                                <%= index+1+(currentPage-1)*10 %>.
                                                            </td>

                                                            <td>
                                                                <%=order.orderId%>
                                                            </td>

                                                            <td>
                                                                <%=order.user.name%>
                                                            </td>

                                                            <td>
                                                                <%=order.user.email%>
                                                            </td>

                                                            <td>₹<%=order.totalAmount%>
                                                            </td>

                                                            <td>
                                                                <span
                                                                    class="badge <%= order.payment_status === 'Pending' ? 'badge-warning' : 
                                                                                 order.payment_status === 'Success' ? 'badge-success' : 
                                                                                 order.payment_status === 'Failed' ? 'badge-danger' : '' %> p-0">
                                                                    <%= order.payment_status %>
                                                                </span>
                                                            </td>

                                                            <td>
                                                                <%=order.date.toLocaleDateString()%>
                                                            </td>
                                                            <td>
                                                                <a href="/admin/orders/order-details?id=<%=order.orderId%>"
                                                                    class="btn btn-success px-3 py-2 "><span>Details</span></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <% }); %>

                                                        <% } else { %>

                                                            <tbody class="text-center">
                                                                <tr>
                                                                    <td colspan="7">No orders found !</td>
                                                                </tr>
                                                            </tbody>

                                                            <% } %>


                                        </table>

                                        <div class="pagination d-flex justify-content-start mt-5 ">
                                            <% if (currentPage> 1) { %>
                                                <a href="?page=1">&laquo;</a>
                                                <% } %>
                                                    <% for (let i=1; i <=totalPages; i++) { %>
                                                        <% if (i==currentPage) { %>
                                                            <span
                                                                class="btn btn-primary pagination-btn px-3 py-2 mx-1 ">
                                                                <%= i %>
                                                            </span>
                                                            <% } else { %>
                                                                <span> <a href="?page=<%= i %>"
                                                                        class="btn btn-secondary pagination-btn px-3 py-2 mx-1 ">

                                                                        <%= i %>

                                                                    </a></span>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% if (currentPage < totalPages) { %>
                                                                            <a
                                                                                href="?page=<%= totalPages %>">&raquo;</a>
                                                                            <% } %>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
    </div>

    <%- include('../admin_layouts/footer.ejs') %>