<%- include('../admin_layouts/header.ejs') %>
    <!-- 
    <style>
        .total-row {
            height: 60px;
            /* Adjust the height as needed */
        }
    </style> -->

    <div class="container-scroller">
        <%- include('navbar.ejs') %>
            <div class="container-fluid page-body-wrapper">
                <%- include('sidebar.ejs') %>
                    <div class="main-panel">

                        <div class="content-wrapper">

                            <h3 class="page-title col-12 mb-4">
                                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                                    <i class="mdi mdi mdi-table menu-icon"></i>
                                </span> SALES REPORT
                            </h3>
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">


                                        <div class="d-flex justify-content-end ">
                                            <p> Report type :</p>
                                            <select name="reportType" id="reportType"
                                                class="form-control w-auto h-75 mx-2">
                                                <option>
                                                    <%= currentType %>
                                                </option>
                                                <% reportTypes.forEach((reportType)=> { %>
                                                    <% if (reportType !==currentType) { %>
                                                        <option>
                                                            <%= reportType %>
                                                        </option>
                                                        <% } %>
                                                            <% }) %>

                                            </select>
                                            <div class="date-fields d-none  ">
                                                <div class="form-group mx-1 ">
                                                    <label for="startDate">From:</label>
                                                    <input type="date" id="startDate" name="startDate"
                                                        class="form-control mx-1 h-50">
                                                </div>
                                                <div class="form-group mx-1 ">
                                                    <label for="endDate">To:</label>
                                                    <input type="date" id="endDate" name="endDate"
                                                        class="form-control mx-1 h-50">
                                                </div>
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-success btn-fw mx-2 px-3 py-2"
                                                    onclick="generateReport()">Generate</button>
                                            </div>
                                        </div>
                                        <input id="start-date" type="hidden" value="<%=startDate%>">
                                        <input id="end-date" type="hidden" value="<%=endDate%>">

                                        <table class="table table-striped mt-5">
                                            <thead class="text-center bg-secondary">
                                                <tr>
                                                    <th class="font-weight-bold"> No. </th>
                                                    <th class="font-weight-bold">Order ID </th>
                                                    <th class="font-weight-bold"> Billing name </th>
                                                    <th class="font-weight-bold"> pay method </th>
                                                    <th class="font-weight-bold"> Date </th>
                                                    <th class="font-weight-bold"> Product</th>
                                                    <th class="font-weight-bold"> Price </th>
                                                    <th class="font-weight-bold"> Qty</th>

                                                    <th class="font-weight-bold"> Total</th>
                                                </tr>
                                            </thead>

                                            <% let count=0 %>
                                                <% let totalAmount=0 %>
                                                    <% let discount=0 %>
                                                        <% if (sales && sales.length> 0) { %>
                                                            <% sales.forEach((sale)=> { %>
                                                                <% count++; %>
                                                                    <% discount+=sale.discount; %>
                                                                        <tbody class="text-center">
                                                                            <tr
                                                                                class="<%=count %2==0? 'bg-light' :''%>">
                                                                                <td>
                                                                                    <%= count %>.
                                                                                </td>

                                                                                <td>
                                                                                    <%= sale.orderId %>
                                                                                </td>

                                                                                <td>
                                                                                    <%= sale.address.name%>

                                                                                </td>
                                                                                <td>
                                                                                    <%= sale.payment_method %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= sale.date.toLocaleDateString()
                                                                                        %>
                                                                                </td>

                                                                                <td>
                                                                                    <%= sale.items.name.slice(0, 25) %>
                                                                                        ...
                                                                                        <!-- <%= sale.items.name%> -->
                                                                                </td>
                                                                                <td>
                                                                                    <%= sale.items.price %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= sale.items.quantity %>
                                                                                </td>

                                                                                <td>
                                                                                    <%=sale.items.quantity*sale.items.price
                                                                                        %>
                                                                                </td>
                                                                                <%totalAmount+=
                                                                                    (sale.items.quantity*sale.items.price)
                                                                                    %>
                                                                            </tr>
                                                                        </tbody>


                                                                        <% }); %>

                                                                            <% } else { %>

                                                                                <tbody class="text-center">
                                                                                    <tr>
                                                                                        <td colspan="9">No sales found !
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>

                                                                                <% } %>

                                                                                    <% if (sales && sales.length> 0) {
                                                                                        %>
                                                                                        <tr></tr>
                                                                                        <tr>
                                                                                            <td colspan="7">
                                                                                                Subtotal

                                                                                            </td>
                                                                                            <td colspan="2"
                                                                                                style="text-align: end;">

                                                                                                ₹<%=totalAmount %>

                                                                                            </td>
                                                                                        </tr>

                                                                                        <tr>

                                                                                            <td colspan="7">
                                                                                                Discount:

                                                                                            </td>
                                                                                            <td colspan="2"
                                                                                                style="text-align: end;">
                                                                                                -₹
                                                                                                <%=Math.round(discount)%>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td colspan="7"
                                                                                                class="font-weight-bold ">
                                                                                                Total:

                                                                                            </td>
                                                                                            <td colspan="2"
                                                                                                class="font-weight-bold "
                                                                                                style="text-align: end;">
                                                                                                ₹<%=totalAmount-Math.round(discount)
                                                                                                    %>

                                                                                            </td>
                                                                                        </tr>

                                                                                        <% } %>


                                        </table>
                                        <!-- <% if (sales && sales.length> 0) {
                                            %>
                                            <div class=" font-weight-bold d-flex ">
                                                <span>
                                                    <span class="row ">Total:₹<%= totalAmount %></span>  <span class="row">Discount:</span>
                                                </span>
                                            </div>
                                            
                                            <% } %> -->

                                        <% if (sales && sales.length> 0) { %>
                                            <div class="d-flex justify-content-end mt-4">
                                                <button type="button" id="dwnld-exel-btn"
                                                    class="btn btn-outline-dark  btn-icon-text p-1 mx-1" onclick="">Exel
                                                    <i class="mdi mdi-printer btn-icon-append"></i></button>
                                                <button type="button" id="dwnld-pdf-btn"
                                                    class="btn btn-outline-dark  btn-icon-text p-1 mx-1">Pdf <i
                                                        class="mdi mdi-printer btn-icon-append"></i></button>
                                                <!-- <button type="button" id="pdfButton" class="btn btn-outline-dark btn-icon-text p-1 mx-1">Pdf <i class="mdi mdi-printer btn-icon-append"></i></button> -->


                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {

            const reportTypeSelect = document.getElementById('reportType');
            const dateFields = document.querySelector('.date-fields');

            // Event listener for select element
            reportTypeSelect.addEventListener('change', function () {
                if (this.value === 'Custom Date Range') {
                    // Show the date fields
                    dateFields.classList.remove('d-none');
                    dateFields.classList.add('d-flex');

                } else {
                    dateFields.classList.remove('d-flex');
                    dateFields.classList.add('d-none');
                }
            });
        });


        function generateReport() {
            const reportType = document.getElementById('reportType').value;
            let queryParams = '';

            if (reportType === 'Custom Date Range') {
                const startDate = document.getElementById('startDate').value;
                const endDate = document.getElementById('endDate').value;
                queryParams = `?reportType=${reportType}&startDate=${startDate}&endDate=${endDate}`;
            } else {
                queryParams = `?reportType=${reportType}`;
            }

            window.location.href = `/admin/sales${queryParams}`
        }


        document.getElementById("dwnld-pdf-btn").addEventListener("click", function () {
            let doc = new window.jspdf.jsPDF();
            let pageCenter = doc.internal.pageSize.getWidth() / 2;
            const reportType = document.getElementById('reportType').value;
            // console.log(reportType)
            doc.setFontSize(25);
            doc.text("StepEX", pageCenter, 10, { align: 'center' });
            doc.setFontSize(15);
            doc.text(`${reportType}'s Sales Report`, pageCenter, 20, { align: 'center' });

            let table = document.querySelector(".table");

            doc.autoTable({ html: table, startY: 35 });

            doc.save(`sales_report_${reportType}.pdf`);
        });

        document.getElementById("dwnld-exel-btn").addEventListener("click", function () {
            let workbook = XLSX.utils.book_new();

            let table = document.querySelector(".table");

            let worksheet = XLSX.utils.table_to_sheet(table);

            XLSX.utils.book_append_sheet(workbook, worksheet, "Sales Report");

            let range = XLSX.utils.decode_range(worksheet['!ref']);
            for (let C = range.s.c; C <= range.e.c; ++C) {
                let max_width = 0;
                for (let R = range.s.r; R <= range.e.r; ++R) {
                    let cell_address = { c: C, r: R };
                    let cell_ref = XLSX.utils.encode_cell(cell_address);
                    if (!worksheet[cell_ref]) continue;
                    let cell_width = XLSX.SSF.format(cell_address, worksheet[cell_ref].v).length;
                    max_width = Math.max(max_width, cell_width);
                }
                worksheet['!cols'] = worksheet['!cols'] || [];
                worksheet['!cols'][C] = { wch: max_width + 1 };
            }

            XLSX.writeFile(workbook, "sales_report.xlsx", { bookSST: true, type: 'binary' });
        });


    </script>

    <%- include('../admin_layouts/footer.ejs') %>