<%- include('../admin_layouts/header.ejs') %>

  <div class="container-scroller">

    <%-include('navbar.ejs')%>

      <div class="container-fluid page-body-wrapper">

        <%-include('sidebar.ejs')%>

          <div class="main-panel">
            <div class="content-wrapper">
              <h3 class="page-title col-12 mb-4">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi mdi-grid menu-icon"></i>
                </span>UNLISTED CATEGORIES
              </h3>
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">  
                    <table class="table table-striped mt-3">
                      <thead class="text-center bg-secondary ">
                        <tr>
                          <th class="font-weight-bold"> No.</th>
                          <th class="font-weight-bold"> Image</th>
                          <th class="font-weight-bold"> Name</th>
                          <th class="font-weight-bold"> Action </th>
                        </tr>
                      </thead>

                      <% if(categories.length> 0 ) { %>
                        <% categories.forEach(function(category, index) { %>


                          <tbody class="text-center">
                            <tr class="<%=(index+1) %2==0? 'bg-light' :'' %>">
                              <td>
                                <%=index+1%>.
                              </td>
                              <td >
                                <img src="/uploads/categoryImages/<%=category.image%>" alt="">
                              </td>
                              <td>

                                <%= category.name %>
                              </td>
                              <td>
                                <button class="btn btn-success px-2 py-1"
                                  onclick="retrieveCategory('<%=category._id %>')">Retrieve</button>
                              </td>
                            </tr>
                          </tbody>


                          <% }); %>

                            <% } else { %>
                              <tbody class="text-center">
                                <tr>
                                  <td colspan="3">No categories found!</td>
                                </tr>
                              </tbody>
                              <% } %>

                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <script>

    async function retrieveCategory(categoryId) {
      try {
        const confirmation = await Swal.fire({
          text: 'Are you sure you want to retrieve this category?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, retrieve'
        });

        if (confirmation.isConfirmed) {

          await fetch(`/admin/categories/unlisted-categories/retrieve-category?id=${categoryId}`, {
            method: 'POST'
          });

          location.reload();
        }
      } catch (error) {
        console.error('Error unblocking user:', error);

      }
    }
  </script>

  <%- include('../admin_layouts/footer.ejs') %>