<%- include("../layouts/header.ejs") %>

    <style>
        .hero-wrap {
            margin-top: 110px;
            display: flex;
            align-items: center;

        }

        .shop-heading {
            text-align: left;
        }

        .breadcrumbs {
            text-align: right;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #ffffff;
            /* background-color: #f8f9fa; */
            background-clip: border-box;
            border: 1 solid;
            border-radius: .25rem;
            margin-bottom: 1.5rem;
            box-shadow: 0 2px 6px 0 rgb(218 218 253 / 50%), 0 2px 6px 0 rgb(206 206 238 / 50%);
        }

        .me-2 {
            margin-right: .5rem !important;
        }
    </style>


    <div style="background-color: #f0f0f0; height: 60px;" class="hero-wrap">
        <div class="container">
            <div class="row no-gutters slider-text align-items-start">

                <div class="col-md-6 ftco-animate shop-heading">
                    <h6 style=" color: #000;">ORDERS</h6>
                </div>

                <div class="col-md-6 ftco-animate breadcrumbs">
                    <div class="breadcrumbs">
                        <span class="mr-2">
                            <a href="/"><span class="icon-home2"></span>Home ></a>
                            <a href="/orders">Orders</a>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container d-grid justify-content-between " style="margin-top:-50px;">
            <div class="row">
                <div class="container">
                    <div class="main-body">
                        <div class="row">

                            <div class="col-lg-4 ftco-animate">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin"
                                                class="rounded-circle p-1 bg-secondary " width="50">
                                            <div class="mt-3">
                                                <h6>
                                                    <%=user.name%>
                                                </h6>
                                            </div>
                                        </div>

                                        <ul class="list-group list-group-flush ">
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center flex-wrap border-0 ">
                                                <a href="/profile" class=" btn btn-primary py-2 px-4 w-100 "
                                                    style="font-size: 14px; font-weight: bold; "><span
                                                        class="icon-person"></span>Account deatails</a>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center flex-wrap border-0">
                                                <a href="/orders" class=" btn btn-primary py-2 px-4 mr-2 w-100 active"
                                                    style="font-size: 14px; font-weight: bold;"><span
                                                        class="icon-shopping_cart mx-1"></span><span>Orders</span></a>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center flex-wrap  border-0">
                                                <a href="/address" class=" btn btn-primary   py-2 px-4 mr-2  w-100"
                                                    style="font-size: 14px; font-weight: bold;"><span
                                                        class="icon-home mx-1"></span><span>Addresses</span> </a>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center flex-wrap  border-0">
                                                <a href="/wallet" class=" btn btn-primary py-2 px-4 mr-2 w-100"
                                                    style="font-size: 14px; font-weight: bold;"><span
                                                        class="icon-account_balance_wallet mx-1"></span>Wallet</a>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center flex-wrap  border-0">
                                                <a href="/coupons" class=" btn btn-primary py-2 px-4 mr-2 w-100"
                                                    style="font-size: 14px; font-weight: bold;"><span
                                                        class="icon-tags mx-1"></span>Coupons</a>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center flex-wrap  border-0">
                                                <a href="/logout" class=" btn btn-primary py-2 px-4 mr-2 w-100"
                                                    style="font-size: 14px; font-weight: bold;"><span
                                                        class="icon-exit_to_app mx-1"></span>Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-8 ftco-animate" style="font-size: 14px;">

                                <div class="card">
                                    <div class="card-body">

                                        <div class="d-flex mb-3">
                                            <h6 class="mb-0" style="font-weight: bold; color: #000;">Your Orders</h6>

                                        </div>

                                        <% if (orders.length> 0) { %>
                                            <% orders.reverse().forEach((order)=> { %>
                                                <hr>

                                                <div class="d-flex justify-content-between  mb-3">
                                                    <span class="mb-0">
                                                        #Order ID:<%=order.orderId%> | Ordered on
                                                            <%=order.date.toLocaleDateString('en-US',{day: 'numeric' ,
                                                                month: 'short' , year: 'numeric' })%>
                                                    </span>

                                                    <a href="/order/order-details?id=<%=order.orderId%>"
                                                        class="btn btn-black py-0 px-4">
                                                        <span>View Order Details</span>
                                                    </a>

                                                </div>
                                                <hr>
                                                <% order.items.forEach((item)=> { %>

                                                    <div class="row">

                                                        <div class="col-lg-2">
                                                            <img src="\uploads\productImages\<%=item.imageUrl%>"
                                                                width="90" height="90" alt="">
                                                        </div>
                                                        <div class="col-lg-4  ">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <span>
                                                                        <%= item.brand %>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <span style="font-weight: bold; color: #000;">
                                                                        <%= item.name %>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <span style="color: #000;"> ₹<%= item.price %> x <%=
                                                                                item.quantity %></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-2">

                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <span> Total </span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <span style="color: #000;"> ₹<%=
                                                                            item.quantity*item.price %> </span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-2">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <span> Status: </span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <span class="badge 
                                                                    <% if (item.status === 'Confirmed') { %>
                                                                        badge-info
                                                                    <% } else if (item.status === 'Shipped') { %>
                                                                        badge-warning
                                                                    <% } else if (item.status === 'Delivered') { %>
                                                                        badge-success
                                                                    <% } else if (item.status === 'Cancelled' || item.status === 'Returned') { %>
                                                                        badge-danger
                                                                    <% } else { %>
                                                                        badge-secondary
                                                                    <% } %> p-1">
                                                                        <%= item.status %>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-2">

                                                            <div class="row mt-4">
                                                                <div class="col-lg-12">
                                                                    <% if (item.status==='Confirmed' ||
                                                                        item.status==='Shipped' ) { %>

                                                                        <button
                                                                            class="btn btn-danger px-3 py-1 cancel-order-btn"
                                                                            data-toggle="modal"
                                                                            data-target="#cancelReasonModal"
                                                                            data-productId="<%=item.product_id._id%>"
                                                                            data-orderId="<%=order.orderId%>">Cancel</button>



                                                                        <% } else if (item.status==='Delivered'
                                                                            &&item.return_approval==0) { %>
                                                                            <button
                                                                                class="btn btn-warning px-3 py-1 return-order-btn"
                                                                                data-toggle="modal"
                                                                                data-target="#returnReasonModal"
                                                                                data-productId="<%=item.product_id._id%>"
                                                                                data-orderId="<%=order.orderId%>">Return</button>
                                                                            <% } %>

                                                                            <% if (item.return_approval == 1) { %>
                                                                                <div class="row">
                                                                                    <span class="text-info" style="font-size: 13px;">Return Requested</span>
                                                                                </div>
                                                                            <% } else if (item.return_approval == 3) { %>
                                                                                <div class="row">
                                                                                    <span class="text-danger" style="font-size: 13px;">Return Declined</span>
                                                                                </div>
                                                                            <% } %>
                                                                            
                                                                </div>
                                                            </div>

                                                            <!-- <div class="row mb-1 ">
                                                                <div class="col-lg-12">
                                                                    <a href="#"
                                                                        class="btn btn-black px-3 py-1">
                                                                        <span>Details</span>
                                                                    </a>
                                                                </div>
                                                            </div> -->
                                                            <!-- <div class="row mb-1 ">
                                                                <div class="col-lg-12">
                                                                    <span class="btn btn-black px-3 py-1">Invoice</span>
                                                                </div>
                                                            </div> -->

                                                        </div>

                                                    </div>


                                                    <% }); %>
                                                        <% }); %>
                                                            <% } %>


                                    </div>

                                    <ul class="pagination justify-content-center">
                                        <% if (currentPage> 1) { %>
                                            <li class="page-item"><a class="page-link"
                                                    href="?page=<%= currentPage - 1 %>">Previous</a></li>
                                            <% } %>
                                                <% for (let i=1; i <=totalPages; i++) { %>
                                                    <li class="page-item <%= i === currentPage ? 'active' : '' %>"><a
                                                            class="page-link" href="?page=<%= i %>">
                                                            <%= i %>
                                                        </a></li>
                                                    <% } %>
                                                        <% if (currentPage < totalPages) { %>
                                                            <li class="page-item"><a class="page-link"
                                                                    href="?page=<%= currentPage + 1 %>">Next</a></li>
                                                            <% } %>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("../user/cancel-return-order.ejs") %>

        <%- include("../layouts/footer.ejs") %>