<%- include("../layouts/header.ejs") %>


    <style>
        .hero-wrap {
            margin-top: 110px;
            display: flex;
            align-items: center;

        }

        .shop-heading {
            text-align: left;
        }

        .breadcrumbs {
            text-align: right;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #ffffff;
            /* background-color: #f8f9fa; */
            background-clip: border-box;
            border: 1 solid;
            border-radius: .25rem;
            margin-bottom: 1.5rem;
            box-shadow: 0 2px 6px 0 rgb(218 218 253 / 50%), 0 2px 6px 0 rgb(206 206 238 / 50%);
        }

        .me-2 {
            margin-right: .5rem !important;
        }
    </style>

    <div style="background-color: #f0f0f0; height: 60px;" class="hero-wrap">
        <div class="container">
            <div class="row no-gutters slider-text align-items-start">

                <div class="col-md-6 ftco-animate shop-heading">
                    <h6 style=" color: #000;">ORDER DETAILS</h6>
                </div>
                <div class="col-md-6 ftco-animate breadcrumbs">
                    <div class="breadcrumbs">
                        <span class="mr-2">
                            <a href="/"><span class="icon-home2"></span>Home ></a>
                            <a href="/orders">Orders ></a>
                            <span style="color: #979797;">ORDER DETAILS</span></span>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <section class="ftco-section">
        <div class="container d-grid justify-content-between " style="margin-top:-50px;">
            <div class="d-block ">
                <div class="col-lg-12">
                    <h4 class="card-title">ORDER DETAILS</h4>

                    

                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex mb-3">
                                <span class="mb-0">
                                    #Order ID : <%=order.orderId%> | Ordered on
                                        <%=order.date.toLocaleDateString('en-US',{day: 'numeric' , month: 'short' ,
                                            year: 'numeric' })%>
                                </span>
                                
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-4" icon-my_location>
                                    <h6 style="font-weight: bold; color: #000;"> <span class="icon-home2"></span>
                                        Shipping address</h6>
                                    <p class="mb-0 ">
                                        <%= order.address.name %>
                                    </p>
                                    <p class="mb-0 ">
                                        <%= order.address.street_address %>
                                    </p>
                                    <p class="mb-0 ">
                                        <%= order.address.place %>
                                    </p>
                                    <p class="mb-0 ">
                                        <%= order.address.city %>,<%= order.address.state %>
                                    </p>
                                    <p class="mb-0 ">
                                        Mobile: <%= order.address.mobile %>
                                    </p>
                                    <p class="mb-0 ">
                                        Pin: <%= order.address.pincode %>
                                    </p>

                                </div>
                                <div class="col-lg-4  ">
                                    <h6 style="font-weight: bold; color: #000;"> <span
                                            class="icon-account_balance_wallet"></span>Payment
                                        method</h6>
                                    <p class="mb-0 ">
                                        <%= order.payment_method %>
                                    </p>
                                    <p class="mb-0 ">
                                        <span class="text-dark font-weight-bold ">Status :</span>

                                        <span class="<% if (order.payment_status==='Pending') { %>
                                            text-danger
                                            <% } else  { %>
                                                text-success
                                                <%}%>">
                                            <%= order.payment_status %>
                                        </span>

                                    </p>

                                    <%if(order.payment_method==="Razorpay" && order.payment_status==="Pending" ){%>
                                        <p class="my-2 ">
                                            <span class="btn btn-success font-weight-bold">Make
                                                Repayment</span>
                                        </p>
                                        <%}%>

                                </div>

                                <div class=" col-lg-4 ">
                                    <!-- <h6 style=" font-weight: bold; color: #000;"><span class="icon-note"></span>
                                            Order
                                            Summary</h6>

                                            <p class="mb-0 ">
                                                <%= order.user.name %>
                                            </p>

                                            <p class="mb-0 ">
                                                <%= order.user.email %>
                                            </p>
                                            <p class="mb-0 ">
                                                <%= order.user.mobile %>
                                            </p> -->

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">

                            <div class="d-flex mb-3">
                                <h6 style="font-weight: bold; color: #000;">Product Deatails</h6>

                            </div>
                            <hr>


                            <% order.items.forEach((item)=> { %>

                                <div class="row">
                                    <div class="col-lg-2">
                                        <img src="\uploads\productImages\<%=item.imageUrl%>" width="90" height="90"
                                            alt="">
                                    </div>

                                    <div class="col-lg-3 ">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span>
                                                    <%= item.brand %>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row my-2 ">
                                            <div class="col-lg-12">
                                                <span style="color: #000;">
                                                    <%= item.name %>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span style="color: #000;"> ₹<%= item.price %></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span style="color: #000;"> Qty:<%= item.quantity %></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span> Total </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span style="color: #000;"> ₹<%= item.quantity*item.price %> </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span> Delivery status : </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 m-1">
                                                <div class="col-lg-12">
                                                    <span class="badge 
                                                        <% if (item.status === 'Confirmed') { %>
                                                            badge-info
                                                        <% } else if (item.status === 'Shipped') { %>
                                                            badge-warning
                                                        <% } else if (item.status === 'Delivered') { %>
                                                            badge-success
                                                        <% } else if (item.status === 'Cancelled' || item.status === 'Returned') { %>
                                                            badge-danger
                                                        <% } else { %>
                                                            badge-secondary
                                                        <% } %> p-1">
                                                        <%= item.status %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="row mt-4 me-0 ">
                                            <div class="col-lg-12 ">
                                                <% if (item.status==='Confirmed' || item.status==='Shipped' ) { %>
                                                    <button class="btn btn-danger px-3 py-1 cancel-order-btn"
                                                        data-toggle="modal" data-target="#cancelReasonModal"
                                                        data-productId="<%=item.product_id._id%>"
                                                        data-orderId="<%=order.orderId%>">Cancel</button>

                                                    <% } else if (item.status==='Delivered' &&item.return_approval==0 )
                                                        { %>
                                                        <button class="btn btn-warning px-3 py-1 return-order-btn"
                                                            data-toggle="modal" data-target="#returnReasonModal"
                                                            data-productId="<%=item.product_id._id%>"
                                                            data-orderId="<%=order.orderId%>">Return</button>
                                                        <% } %>

                                                            <% if (item.return_approval==1) { %>
                                                                <div class="row">
                                                                    <span class="text-info "
                                                                        style="font-size: 13px;">Return
                                                                        Requested</span>
                                                                </div>
                                                                <% } else if (item.return_approval==2) { %>
                                                                    <div class="row">
                                                                        <span class="text-info "
                                                                            style="font-size: 13px;">Refund issued
                                                                            ✓</span>
                                                                    </div>
                                                                    <% } %>
                                            </div>

                                        </div>
                                    </div>


                                    <% if (item.status!=="Cancelled") {%>

                                       <input type="hidden" id="product-id" value="<%=item.product_id._id%>">

                                    <div class="col-lg-1">
                                        <div class="row">
                                            <div class="col-lg-12" id="dwnld-invoice" >
                                                <span class="text-info ">Invoice</span>
                                            </div>
                                        </div>
                                    </div>

                                    <table class="invoice-table d-none" id="invoice-table-<%=item.product_id._id%>">

                                        
                                            <tr>
                                                <th colspan="2">Sold by :</th>
                
                                                <th colspan="3">Billing Address:</th>
                                            </tr>
                
                                        
                                        <tbody >
                                            <tr>
                                            <td colspan="2">
                                                stepex pvt ltd ,<br>
                                                KINFRA Techno Industrial Park,<br>
                                                National Highway 66 <br>
                                                near Calicut University <br>
                                                Kakkanchery Chelembra PO,<br>
                                                Dt, Thenhipalam, Kerala 673634
                                            </td>
                
                                            <td colspan="3">
                                                <%= order.address.name %> <br>
                                                <%= order.address.street_address %> <br>
                                                <%= order.address.place %> <br>
                                                <%= order.address.city %>,<%= order.address.state %> <br>
                                            </td>
                                        </tr>
                                            <td>
                                                Order ID : <%=order.orderId%> <br>
                                               Order Date : <%=order.date.toLocaleDateString('en-US',{day: 'numeric' , month: 'short' ,
                                               year: 'numeric' })%>
                                             </td>
                                        </tbody>
                                        
                
                                       
                                            <tr style="font-weight: bold;" class="mt-5" >
                                                <th>No.</th>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Qty</th>
                                                <th>Total</th>
                                            </tr>
                                            <tr>
                                                
                                            </tr>
                                             
                                       
                                       

                                        <%let count=0;%>
                                                <% count++ %>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <%= count %>.
                                                            </td>
                                                            <td>
                                                                <%= item.name %>
                                                            </td>
                                                            <td>₹<%= item.price %>
                                                            </td>
                                                            <td>
                                                                <%= item.quantity %>
                                                            </td>
                                                            <td>₹<%= item.quantity*item.price %>
                                                            </td>
                
                                                        </tr>
                                                    </tbody>
                                                    <tr>
                                                        <td colspan="4">Total</td>
                                                        <td colspan="1">₹<%= item.quantity*item.price %></td>
                                                    </tr>
                                                   
                                    </table>
                                    <% }%>
                                    
                                </div>
                                <hr>
                                <% }); %>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <%- include("../user/cancel-return-order.ejs") %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>

    <script>

document.getElementById("dwnld-invoice").addEventListener("click", function () {
            let doc = new window.jspdf.jsPDF();
            let pageCenter = doc.internal.pageSize.getWidth() / 2;

            let productId = document.getElementById("product-id").value;
            console.log("productId:",productId)
           
            doc.setFontSize(20);
            doc.text("StepEX", pageCenter, 8, { align: 'center' });
            doc.setFontSize(15);
            doc.text(`Invoice/Bill`, pageCenter, 20, { align: 'center' });

            // let table = document.querySelector(".invoice-table");
            let table = document.getElementById(`invoice-table-${productId}`);

            doc.autoTable({ html: table, startY: 35 });

            doc.save(`invoice.pdf`);
        });

    </script>

        <%- include("../layouts/footer.ejs") %>