<%- include("../layouts/header.ejs") %>
	<style>
		.hero-wrap {
			margin-top: 110px;
			display: flex;
			align-items: center;

		}

		.shop-heading {
			text-align: left;
		}

		.breadcrumbs {
			text-align: right;
		}
	</style>

	<div style="background-color: #f0f0f0; height: 60px;" class="hero-wrap">
		<div class="container">
			<div class="row no-gutters slider-text align-items-start">

				<div class="col-md-6 ftco-animate shop-heading">
					<h6 style="font-weight: bold; color: #000;">SHOP</h6>
				</div>

				<div class="col-md-6 ftco-animate breadcrumbs">
					<div class="breadcrumbs">
						<span class="mr-2">
							<a href="/"><span class="icon-home"></span>Home ></a>
							<a href="/shop">Shop</a>
						</span>

					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section bg-light ">
		<div class="container mt-0">

			<div class="d-flex justify-content-end mb-4">
				<p style="color: #000; font-weight: 600; " class="m-2 ">SORT BY :</p>
				<select id="sortBy" style="height: 40px; " class="w-25">
					<option value="new-to-old" <% if (sortBy==='new-to-old' ) { %>selected<% } %>>Default</option>
					<option value="old-to-new" <% if (sortBy==='old-to-new' ) { %>selected<% } %>>Old to New</option>
					<option value="high-to-low" <% if (sortBy==='high-to-low' ) { %>selected<% } %>>Price: High to Low
					</option>
					<option value="low-to-high" <% if (sortBy==='low-to-high' ) { %>selected<% } %>>Price: Low to High
					</option>
				</select>
			</div>

			<div class="row">
				<div class="col-md-6 col-lg-9 order-md-last">
					<div class="row products-container">
						<% if(products&&products.length>0){ %>
							<% products.forEach((product)=>{%>
								<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
									<div class="product d-flex flex-column">

										<a href="/shop/single?id=<%= product._id %>" class="img-prod"><img
												class="img-fluid " src="/uploads/productImages/<%=product.images[0]%>"
												alt="img">

											<span class="status">
												<%= ((product.price-product.offer_price)/product.price)*100 %>% off
											</span>

											<div class="overlay"></div>
										</a>
										<div class="text py-3 pb-4 px-3">
											<div class="d-flex">
												<div class="cat">
													<span>
														<%= product.brand %>
													</span>
												</div>
												<div class="rating">
													<p class="text-right mb-0">
														<a href="#"><span class="ion-ios-star"></span></a>
														<a href="#"><span class="ion-ios-star"></span></a>
														<a href="#"><span class="ion-ios-star"></span></a>
														<a href="#"><span class="ion-ios-star"></span></a>
														<a href="#"><span class="ion-ios-star-outline"></span></a>
													</p>
												</div>
											</div>
											<h3><a href="/shop/single?id=<%= product._id %>">
													<%= product.name %>
												</a></h3>
											<div class="pricing d-flex">
												<s class="price text-secondary"><span>₹ <%=(product.price) %>
													</span></s>
												<p class="price mx-3" style="font-weight: 600;"><span>₹ <%=
															product.offer_price %> </span></p>
											</div>
											<div>
												<p class="badge badge-success mt-2"><span>save ₹ <%=
															product.price-product.offer_price %></span></p>
											</div>

											<p class="bottom-area d-flex px-3">

												<% if (product.quantity==0) { %>

													<p style="color: #BA0933;">
														Currently unavailable.
													</p>

													<% } else { %>
														<% if (user) { %>

															<a href="#"
																class="addToCart add-to-cart text-center py-2 mr-1"
																data-product-id="<%= product._id %>" data-quantity="1">
																<span><i class="ion-ios-cart ml-1"></i>Add to cart
																</span>
															</a>

															<% } else { %>

																<a href="/login"
																	class="add-to-cart text-center py-2 mr-1">
																	<span>Add to cart <i
																			class="ion-ios-add ml-1"></i></span>
																</a>

																<% } %>
																	<% } %>

											</p>
										</div>
									</div>
								</div>
								<%})%>
									<%}else{%>
										
												<h5 class="text-center ">No products Found!</h5>
											
										<%}%>

					</div>

					<div class="pagination d-flex justify-content-center mt-5 ">
						<% if (currentPage> 1) { %>
							<a href="?page=1">&laquo;</a>
							<% } %>
								<% for (let i=1; i <=totalPages; i++) { %>
									<% if (i==currentPage) { %>
										<span class="btn btn-primary ">
											<%= i %>
										</span>
										<% } else { %>
											<span> <a href="?page=<%= i %>" class="btn btn-secondary pagination-btn">

													<%= i %>

												</a></span>
											<% } %>
												<% } %>
													<% if (currentPage < totalPages) { %>
														<a href="?page=<%= totalPages %>">&raquo;</a>
														<% } %>
					</div>

				</div>

				<div class="col-md-4 col-lg-3">
					<form action="#" class="search-form">
						<div class="form-group">
							<span class="icon ion-ios-search"></span>
							<input type="text" class="form-control" id="search" placeholder="Search for a product"
								autocomplete="off">
						</div>
					</form>

					<!-- <div action="#" class="search-form d-flex ">
						<div class="form-group ">
							<span class="btn btn-primary rounded  icon ion-ios-search"></span>
							<input type="text" id="search" class="form-control rounded w-100 "
								placeholder="Search for products">

						</div>

					</div> -->
					<!-- <div class="sidebar-box-2">
							<p style="color: #000; font-weight: 600;">SORT BY</p>
							<select id="sortBy" class="  w-75" style="height: 35px;">
								<option value="new-to-old">Default</option>
								<option value="old-to-new">Old to New</option>
								<option value="high-to-low">Price: High to Low</option>
								<option value="low-to-high">Price: Low to High</option>
							</select>
						</div> -->
					<div class="sidebar-box ">


						<div class="d-flex justify-content-between border-bottom border-solid border-2">
							<p style="color: #000; font-weight: 600;">FILTERS</p>
							<a href="#" id="clear-all" class="text-danger font-weight-bold "
								style="display: none;">Clear all</a>
						</div>


						<div class="my-3  ">
							<p style="color: #000; font-weight: 600;">CATEGORIES</p>

							<div>
								<% if(categories && categories.length> 0){ %>
									<% categories.forEach((category)=> { %>
										<div class="checkbox-item my-1">
											<input type="checkbox" id="category_<%= category._id %>" name="category"
												value="<%= category._id %>" <%
												if(selectedCategories.includes(String(category._id))) { %> checked
											<% } %> >
												<label for="category_<%= category._id %>">
													<%= category.name %>
												</label>
										</div>
										<% }) %>
											<% } %>
							</div>
						</div>

						<div class="my-3 ">
							<p style="color: #000; font-weight: 600;">GENDER</p>

							<div>
								<% if(genders && genders.length> 0){ %>
									<% genders.forEach((gender)=> { %>
										<div class="checkbox-item my-1">
											<input type="checkbox" id="<%= gender %>" name="gender"
												value="<%= gender %>" <% if(selectedGenders.includes(gender)) { %>
											checked <% } %>>
												<label for="<%= gender %>">
													<%= gender %>
												</label>
										</div>
										<% }) %>
											<% } %>
							</div>

						</div>


						<div>
							<p style="color: #000; font-weight: 600;">PRICE RANGE</p>
							<div id="price-range-slider" class="w-100"></div>
							<span id="price-range"></span>
						</div>

						<div class="sidebar-box-2 mt-4 ">
							<button id="filter-btn" class="btn btn-primary  col-md-12  font-weight-bold">Apply
								Filter</button>
						</div>

					</div>



				</div>

			</div>
		</div>
	</section>

	<section class="ftco-gallery">
		<div class="container-fluid px-0">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/assets/images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/assets/images/gallery-1.jpg);">
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/assets/images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/assets/images/gallery-2.jpg);">
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/assets/images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/assets/images/gallery-3.jpg);">
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/assets/images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/assets/images/gallery-4.jpg);">
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/assets/images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/assets/images/gallery-5.jpg);">

					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/assets/images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/assets/images/gallery-6.jpg);">
						<!-- <div class="icon mb-4 d-flex align-items-center justify-content-center"></div> -->
					</a>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

	<script>
		const minPrice = "<%= minPrice %>";
		const maxPrice = "<%= maxPrice %>"
		$(function () {
			$("#price-range-slider").slider({
				range: true,
				min: 500,
				max: 10000, // Adjust the max value according to your price range
				values: [minPrice, maxPrice], // Initial values of the slider
				slide: function (event, ui) {
					// Update the display of selected price range
					$("#price-range").html("₹" + ui.values[0] + " - ₹" + ui.values[1]);
				}
			});
			// Display initial selected price range
			$("#price-range").html("₹" + $("#price-range-slider").slider("values", 0) +
				" - ₹" + $("#price-range-slider").slider("values", 1));
		});
	</script>


	<script>
		const addToCartButtons = document.querySelectorAll('.addToCart');

		addToCartButtons.forEach(button => {
			button.addEventListener('click', async (event) => {
				event.preventDefault();
				const productId = event.currentTarget.dataset.productId;
				const response = await addToCart(productId);


				async function addToCart(productId) {
					const response = await fetch('/add-to-cart', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({ productId })
					});
					return await response.json();
				}

				if (response.success) {

					console.log('Product added to cart:', response.data);

					const Toast = Swal.mixin({
						toast: true,
						position: "top",
						showConfirmButton: false,
						timer: 2000,
						timerProgressBar: true,
						didOpen: (toast) => {
							toast.addEventListener('mouseenter', Swal.stopTimer);
							toast.addEventListener('mouseleave', Swal.resumeTimer);
						}
					});

					Toast.fire({
						icon: "success",
						title: "This product has been added to your cart"
					}).then(() => {
						window.location.href = "/cart";
					});

				} else {

					if (response.message === 'Product already in cart') {

						const Toast = Swal.mixin({
							toast: true,
							position: "top",
							showConfirmButton: false,
							timer: 2000,
							timerProgressBar: true,
							didOpen: (toast) => {
								toast.addEventListener('mouseenter', Swal.stopTimer);
								toast.addEventListener('mouseleave', Swal.resumeTimer);
							}
						});

						Toast.fire({
							icon: "warning",
							title: "This product is already in your cart"
						});

					} else {
						console.error('Error adding to cart:', response.error);
					}
				}
			});
		});

	</script>

	<script>

		// Function to fetch filtered products
		const fetchFilteredProducts = async () => {
			try {

				const searchQuery = document.getElementById('search').value.trim();
				const categoryFilters = Array.from(document.querySelectorAll('input[name="category"]:checked')).map(input => input.value).join(',');
				const genderFilters = Array.from(document.querySelectorAll('input[name="gender"]:checked')).map(input => input.value).join(',');
				const priceRange = $("#price-range-slider").slider("values");
				const minPrice = priceRange[0];
				const maxPrice = priceRange[1];
				const sortBy = document.getElementById('sortBy').value;

				const queryParams = new URLSearchParams({
					search: searchQuery,
					category: categoryFilters,
					gender: genderFilters,
					minPrice: minPrice,
					maxPrice: maxPrice,
					sortBy: sortBy
				});
				console.log(queryParams)
				console.log("enetered")
				window.location.href = `/shop?${queryParams}`;

			} catch (error) {
				console.error('Error filtered products:', error);
			}
		};

		// Call the fetchFilteredProducts function whenever filter btn clicks 
		document.getElementById('filter-btn').addEventListener('click', fetchFilteredProducts);
		document.getElementById("clear-all").addEventListener("click", function () {
			window.location.href = "/shop";

		});

		document.querySelectorAll('input[type="checkbox"]').forEach(function (checkbox) {
			checkbox.addEventListener('change', function () {
				const clearAllButton = document.getElementById('clear-all');
				if (document.querySelector('input[type="checkbox"]:checked')) {
					clearAllButton.style.display = 'block';
				} else {
					clearAllButton.style.display = 'none';
				}
			});
		});

		document.getElementById('clear-all').addEventListener('click', function (event) {
			event.preventDefault();
			window.location.href = "/shop";
		});


	</script>

	<%- include("../layouts/footer.ejs") %>